# === Игнорировать ВСЁ ===
*

# === Но оставить ТОЛЬКО НУЖНЫЕ ПАПКИ ===
!/assets/
!/assets/**/*
!/lib/
!/lib/**/*
!/test/
!/test/**/*
!/android/
!/android/**/*

# === Оставить важные файлы ===
!/pubspec.yaml
!/README.md

# === Обязательные файлы Flutter (не удалять!) ===
!.metadata
!.flutter-plugins
!.flutter-plugins-dependencies
